.container {
  display: flex;
  margin: 0 10rem;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 74px);

  @media screen and (max-width: 375px) {
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    margin: 0;
  }
}